<div class="container">
  <%= form_tag devices_path, method: :get do %>
  <%= date_field_tag :query,
  params[:query],
  class: "form-control",
    placeholder: Date.today
    %>
    <% end %>
  <h1 class="title">Canggu devices:</h1>
  <div class="row">
   <% @devices.each do |device| %>
   <div class="col-xs-12 col-sm-6 col-md-3" style="overflow: hidden;">
     <div class="card <%= 'unavailable' unless device.availability %>"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= device.photo_url %>); background-size: contain;" >
      <div class="card-description">
        <h2><%= link_to device.category, device_path(device) %></h2>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col-xs-12">

   <div id="map"
   style="width: 100%;
   border-radius: 11px;
   height: 600px;"
   data-markers="<%= @markers.to_json %>"
   ></div>
 </div>
