
<div class="container">
  <h1 class="title"><%= @device.name %></h1>
  <h2 class="subtitle"><%= @device.category %>: $<%= @device.price %></h2>


  <div class="container-flex">
    <div class="item-flex">
      <p class="text"><%= @device.description %></p>
    </div>
    <div class="item-flex">
      <%= image_tag @device.photo_url, class: "device-photo" %>
    </div>
  </div class="btn btn-primary">
  <%= link_to "Inquire about booking this device", new_device_booking_path(@device), class: "btn btn-primary" %>
</div>
